.navLink {
  position: relative;
  text-decoration: none;
  margin:10px;  
  font-size: 16px;
  font-weight: 400;
}

.navLink::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navLink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active.navLink::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn {
  margin: 5px 0 5px 0;
  padding: 20px 10px;
  border-radius: var(--radius);
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
  border: none;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.btn-primary {
  background: var(--primary);
  color: white;
  box-shadow: 0 4px 6px rgba(67, 97, 238, 0.3);
}

.btn-primary:hover {
  background: var(--secondary);
  transform: translateY(-3px);
  box-shadow: 0 10px 15px rgba(67, 97, 238, 0.4);
}

.btn-outline {
  background: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
}

.btn-outline:hover {
  background: var(--primary);
  color: white;
  transform: translateY(-3px);
}

.hero-buttons {
  display: flex;
  gap: 10px;
}